
<br>
<h4 style="text-align: center;">{{data.first_name}} {{data.last_name}} </h4>

<div> 
  

<mat-tab-group>
  <mat-tab label="Personal Data"> 
    <mat-list>
      <mat-list-item>First Name : {{data.first_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Last Name : {{data.last_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Email : {{data.email_id}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Contact No : {{data.contact_no}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Address : {{data.address}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>City : {{data.city}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>State : {{data.state}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gender : {{data.gneder}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Date Of Birth : {{data.date_of_birth}}</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Employement Status"> 
  
    <mat-list>
      <mat-list-item>Employement Status : {{data.employment_status}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Comapny Name : {{data.company_name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Years Of Experiance : {{data.years-of_experiance}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Key Set : {{data.key_sills}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  
  </mat-tab>
  <mat-tab label="Academic Data"> 

    <mat-list>
      <mat-list-item>Qualification : {{data.highest_qualification}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Stream : {{data.disipline}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Collage Name : {{data.college_of_study}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Degree Completion Year : {{data.degree_completion_year}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Percentage % : {{data.degree_percentage}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>

  <mat-tab label="Payment Details"> 

    <mat-list>
      <mat-list-item>Schollarship : {{data.schollarship}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Total Fee Amount : {{data.total_fee}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>First Installment : {{data.first_installment}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Degree Completion Year : {{data.degree_completion_year}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Percentage % : {{data.degree_percentage}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
</mat-tab-group>
</div>

