<!-- <app-student></app-student> -->
<!-- <br><br> -->


<!-- <button routerLink="/addstudent" type="button" class="btn btn-outline-primary">Add Student</button> -->
<!-- <button routerLink="/student/:id" type="button" class="btn btn-outline-secondary">details</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-danger">Danger</button> -->






<router-outlet>

</router-outlet>
